/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: "poppins", serif;
}
:root{
    --primary-color: #d5a3ff ;
    --secondary-color: #77a5f8;
    --transition: all 0.3s ease;
}
body{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(#d5a3ff 0%, #77a5f8 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    width: 450px;
    background: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.2);
}
.wrapper header{
    width: 100%;;
    border: 1px solid #cccccc;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}
header label{
    width: 30%;
    padding: 8px 10px ;
    font-size: 18px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-content: center;
    user-select: none;
    z-index: 2;
}
header label:nth-child(2){
    width: 40%;
}
header .slider{
    position: absolute;
    height: 85%;
    content: '' ;
    border-radius: inherit;
    background: linear-gradient(145deg, #d5a3ff 0%, #77a5f8 100%);
    transition: var(--transition);
}
#tap-1:checked ~ header .tap-1,
#tap-2:checked ~ header .tap-2,
#tap-3:checked ~ header .tap-3{
    color: #ffffff;
}
#tap-1:checked ~ header .slider{
    width: 100px;
    left: 0;
    transform: translateX(5%);
}
#tap-2:checked ~ header .slider{
    width: 130px;
    left: 50%;
    transform: translateX(-50%);
}
#tap-3:checked ~ header .slider{
    width: 100px;
    left: 100%;
    transform: translateX(-105%);
}
.wrapper input[type="radio"]{
    display: none;
}



/* cards-area  */
.cards-area{
    overflow: hidden;
}
.cards-area .cards{
    width: 300%;
    display: flex;
}
.cards .row{
    width: 33.33%;
}
.cards .row-1{
    transition: var(--transition);
}
#tap-1:checked ~ .cards-area .cards .row-1{
    margin-left: 0%;
}
#tap-2:checked ~ .cards-area .cards .row-1{
    margin-left: -33.33%;
}
#tap-3:checked ~ .cards-area .cards .row-1{
    margin-left: -66.66%;
}




.row .price-area{
    border-bottom: 1px solid #77a5f8;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
}
.price-area span{
    display: inline-block;
    font-size: 65px;
    font-weight: 600;
    position: relative;
}
.price-area span::before,
.price-area span::after{
    font-size: 18px;
    font-weight: 400;
    position: absolute;

}
.price-area span::before{
    content: '$';
    top: 13px;
    left: -15px;
}
.price-area span::after{
    content: '/Mon';
    bottom: 15px;
    right: -45px;
}
.features{
    margin: 20px 0;
}
.features li{
    margin: 10px 0;
    display: flex;
    align-items: center;
}
.features li i{
    color: #77a5f8
}
.features li span{
    margin-left: 10px;
}
.wrapper button{
    width: 100%;
    padding: 10px 0;
    border-radius: 20px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(145deg, #d5a3ff 0%, #77a5f8 100%);
}